*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Generics */

header a{
    text-decoration: none;
    color: #2e2e2e;
    
}

header{
    position: relative;
    min-height: 80px;
    margin-bottom: 200px;
}



/* Utilities */

.bigcontainer{
    max-width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    padding-top: 100px;
}

.buttonlink{
    color: white;
    background-color: #0061ff;
    display: inline-block;
    padding: 10px 15px;
}


/* Header */

#navbar{
    min-height: 80px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 3px 3px grey;
    background-color: white;
}

#navbar > div{
    min-height: 40px;
    font-size: 18px;
    
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    display: block;
    margin-right: 30px;
}

.logo a{
    margin-right: 30px;
}

.login{
    display: flex;
    align-items: center;
}

.login a{
    margin-left: 30px;
}

.jumbotron{
    min-height: 680px;
    margin-top: 80px;
    background-color: #b4d0e7;
}

.bigcontainer h1{
    font-size: 60px;
}

.freetrial{
    display: flex;
}

.start-freetrial{
    width: 30%;
    min-height: 200px;
    margin-top: 50px;
}

.start-freetrial p{
    margin-bottom: 30px;
    font-size: 14px;
}

.start-freetrial a{
    margin-bottom: 20px;
}

.fa-arrow-down{
    font-size: 40px;
    margin-top: 50px;
}

.image-freetrial{
    width: 70%;
    min-height: 200px;
    position: relative; 
}

.image-freetrial img{
    width: 100%;
    height: 430px;
    position: absolute;
    left: 0;
    top: 50px;
}

