*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Generics */

header a{
    text-decoration: none;
    color: #2e2e2e;
    
}

header{
    position: relative;
    min-height: 80px;
}



/* Utilities */


/* Header */

#navbar{
    min-height: 80px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 3px 3px grey;
    background-color: white;
}

#navbar > div{
    min-height: 40px;
    font-size: 18px;
    
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    display: block;
    margin-right: 30px;
}

.logo a{
    margin-right: 30px;
}

.login{
    display: flex;
    align-items: center;
}

.login a{
    margin-left: 30px;
}

.jumbotron{
    min-height: 500px;
    margin-top: 80px;
    background-color: #b4d0e7;
}