*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Generics */

header a{
    text-decoration: none;
    color: #2e2e2e;
    
}

header{
    position: relative;
    min-height: 80px;
    margin-bottom: 200px;
}

ul{
    list-style-type: none;
}

.fa-check{
    color: #0061ff;
}

footer{
    background-color: #000;
    min-height: 600px;
}

/* Utilities */

.bigcontainer{
    max-width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    padding-top: 100px;
}

.buttonlink{
    color: white;
    background-color: #0061ff;
    border: 2px solid #0061ff;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.2s linear;
}

.buttonlink:hover{
    background-color: #b4d0e7;
}



.smallcontainer{
    max-width: 900px;
    min-height: 500px;
    margin: 0 auto;
}


.row{
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    margin: 0 -20px;
}


.mb-35{
    margin-bottom: 35px;
}

.mb-20{
    margin-bottom: 20px;
}


.d-inline-block{
    display: inline-block;
}


.bold{
    font-weight: bold;
}

.mb-50{
    margin-bottom: 50px;
}
/* Header */

#navbar{
    min-height: 80px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 3px 3px grey;
    background-color: white;
}

#navbar > div{
    min-height: 40px;
    font-size: 18px;
    
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    display: block;
    margin-right: 30px;
}

.logo a{
    margin-right: 30px;
}

.login{
    display: flex;
    align-items: center;
}

.login a{
    margin-left: 30px;
}

.jumbotron{
    min-height: 680px;
    margin-top: 80px;
    background-color: #b4d0e7;
}

.bigcontainer h1{
    font-size: 60px;
}

.freetrial{
    display: flex;
}

.start-freetrial{
    width: 30%;
    min-height: 200px;
    margin-top: 50px;
}

.start-freetrial p{
    margin-bottom: 30px;
    font-size: 14px;
}



.fa-arrow-down{
    font-size: 40px;
    margin-top: 50px;
}

.image-freetrial{
    width: 70%;
    min-height: 200px; 
}

.image-freetrial img{
    width: 100%;
    height: 430px;
    position: relative;
    left: 0;
    top: 50px;
}

/* Main */


/* First Section - COLUMNS */

#business-plan h2{
    font-size: 36px;
}

.fatturazione{
    line-height: 24px;
}



.fatturazione .blue-circle{
    height: 20px;
    width: 20px;
    border: 5px solid #0061ff;
    border-radius: 50%;
    vertical-align: middle;

}

.fatturazione .white-circle{
    height: 20px;
    width: 20px;
    border: 2px solid lightgray;
    border-radius: 50%;
    margin-left: 50px;
    vertical-align: middle;
}

.fatturazione .opzioni-fatturazione{
    height: 24px;
    vertical-align: middle;
}


.column{
    min-height: 400px;
    width: 33%;
    padding: 0 20px;

}

.column .buttonlink{
    font-size: 15px;
}
.column-content{
    border: 2px solid lightgrey;
    height: 1000px;
}

.type-plan{
    text-align: center;
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid lightgrey;
    padding: 10px 0;
}

.plan-content{
    padding: 25px 20px;
}
.plan-content hr{
    width: 15%;
    color: lightgray;
}



.plan-name h3{
    margin-bottom: 20px;

}

.plan-name span{
    margin-bottom: 10px;
}

.plan-name .month{
    font-size: 14px;
    color: gray;
}

.plan-services li{
    margin: 15px 0;
}


.contatta-enterprise{
    min-height: 200px;
    width: 100%;
    border: 2px solid lightgray;
    margin-bottom: 100px;
}

.contatta-enterprise .plan-content{
    display: flex;
}

.content-title-box{
    width: 70%;
}

.content-button-box{
    width: 30%;
    text-align: right;
}


/* Second Section - PARTNERS */


.find-partner{
    min-height: 200px;
    display: flex;
    margin-bottom: 150px;
}


.img-partner{
    width: 60%;

}

.img-partner img{
    width: 100%;
}


.contact-partner{
    width: 40%;
    padding: 50px 60px;
}

.buttonlink-gray{
    padding: 10px 15px;
    text-decoration: none;
    color: gray;
    border: 2px solid grey;
}


/* Third Section OPERATIONS */

.dropbox-operations{
    margin-bottom: 200px;
}

.dropbox-operations h2{
    font-size: 36px;
}

.dropbox-operations .row{
    flex-wrap: wrap;
}

.operation{
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.operation img{
    width: 100%;
}


/* Fourth Section CLIENTS */

.clients{
    min-height: 200px;
    margin-bottom: 100px;

}

.clients h2{
    font-size: 40px;
}

/* Fifth Section SQUARES */

.client-boxes{
    display: flex;
}


.square{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.middle-square{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    background-color: #f5f5f5;
    padding: 25px;
}

.middle-square img{
    width: 50%;
}

.middle-square hr{
    width: 20%;
}

.small-square{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-square img{
    width: 50%;
    filter: invert(1);
}


/* Square colors */

.bg-green{
    background-color: #a2d39b;
}

.bg-purple{
    background-color: #61082b;
}

.bg-sky{
    background-color: #0093ce;
}

.bg-lightred{
    background-color: #ff1c1c;
}

.bg-red{
    background-color: #d5001f;
}

.bg-lightblue{
    background-color: #b4d0e7;
}

.bg-blue{
    background-color: #0d2481;
}

.bg-yellow{
    background-color: #ffd830;
}


/* Sixth Section TRIAL */

.start-trial{
    background-color: #b4d0e7;
    height: 300px;
    padding: 100px 0;
}

.trial-content{
    display: flex;
}

.trial-title{
    width: 50%;
    color: #60082b;
    font-size: 24px;
}

.trial-button{
    width: 50%;
    text-align: right;

}

.trial-button .buttonlink-gray{
    border: 1px solid white;
    background-color: white;
}

/* Seventh Section FREQUENTLY ASKED */

.frequently-asked{
    height: 500px;
    margin-bottom: 100px;
}

.frequently-asked .smallcontainer{
    padding: 100px 0;
}

.smallcontainer h2{
    font-size: 24px;
}

.question-line{
    display: flex;
}

.question-line .question{
    width: 70%;
}

.question-line .question-angle{
    width: 30%;
    text-align: right;
    padding-right: 35px;
}


/* FOOTER */


footer .link-flexcontainer{
    display: flex;
}

.column-link{
    width: 20%;
    color: white;
}

.column-link a{
    text-decoration: none;
    color: white;
}

footer hr{
    margin-top: 50px;
    width: 20%;
}


.languages{
    color: grey;
}